<section class="py-5" style="padding-top: 90px; padding-bottom: 70px;">
  <div class="container-fluid d-flex flex-column flex-md-row align-items-start justify-content-between">
    <div *ngIf="fadeIn" class="fade-in">
      <h1 class="display-4">Thai Cuisine</h1>
    </div>

    <div class="mt-4 mt-md-0 cusineHolder">
      <p class="lead">
        We strive to bring people the best Thai food by using the freshest and best ingredients we can find.
      </p>
      <div class="d-flex flex-column flex-md-row moreBtns">
        <a routerLink="/menu" class="mb-2 mb-md-0 me-md-3">
          <app-button variant="primary">See Menu</app-button>
        </a>
        <a routerLink="/menu">
          <app-button variant="secondary">Reserve a Table</app-button>
        </a>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="heroCard">
      <img src="../../../assets/images/06.jpg" class="w-100 h-100" alt="" srcset="">
      <div class="d-flex gap-3 tagMain" >
        <div width="44" height="44" class="Wrapper-sc-gcnjrk-0 dKnGKS">
          <div class="Text-sc-1k1o8db-0 eJhhkW">🌶</div>
        </div>
        <div class="Text-sc-1k1o8db-0 eJhhkW">Red curry with chicken</div>
      </div>
    </div>
  </div>

</section>
