<app-layout title="Home">
  <section class="py-5 mt-md-5" style="padding-top: 100px; padding-bottom: 70px;">
    <div class="container-fluid d-flex flex-column flex-md-row align-items-start justify-content-between">
      <div *ngIf="fadeIn" class="fade-in">
        <h1 class="display-4">About</h1>
      </div>

      <div class="mt-4 mt-md-0 cusineHolder">
        <p class="lead">
          See your work as a living thing. Your task is to bring it alive and make others feel this.
        </p>
      </div>
    </div>
    <div class="container-fluid">
      <div class="heroCard">
        <img src="../../../assets/images/11.jpg" class="w-100 h-100" alt="" srcset="">
        <div class="d-flex gap-3 tagMain">
          <div width="44" height="44" class="Wrapper-sc-gcnjrk-0 dKnGKS">
            <div class="Text-sc-1k1o8db-0 eJhhkW">🌶</div>
          </div>
          <div class="Text-sc-1k1o8db-0 eJhhkW">Royal orchid interior</div>
        </div>
      </div>
    </div>

  </section>
<app-motivation></app-motivation>
  <section class="aboutThirdSec py-5" style="background-color: rgb(244, 245, 246);">
    <div class="container-fluid  py-4">
      <div class="row">
        <div class="col-sm-5">
          <h2 class="display-10 mb-4">Organic &amp; Healthy Food For You</h2>
        </div>
        <div class="col-sm-7">
          <div class="mb-4">
            <p class="lead mb-2">Find a master to apprentice under, but instead of thinking about how much they can give
              you, think about how you can help them with their work.</p>
            <p class="lead mb-2">Learning how to learn is the most important skill to acquire.</p>
          </div>
          <div class="image-wrapper overflow-hidden mt-5 pt-md-5">
            <img src="../../../assets/images/06.jpg" class="w-100 h-100" alt="" srcset="">
          </div>
        </div>
      </div>

    </div>

  </section>

  <app-facts></app-facts>
  <section class="aboutThirdSec py-5" style="background-color: rgb(244, 245, 246);">
    <div class="container-fluid  py-4">
      <div class="row flex-row-reverse">
        <div class="col-sm-5">
          <h2 class="display-10 mb-4">It’s not just Food, It’s an Experience.</h2>
        </div>
        <div class="col-sm-7">
          <div class="mb-4">
            <p class="lead mb-2">Find a master to apprentice under, but instead of thinking about how much they can give
              you, this about how you can help them with their work.</p>
            <p class="lead mb-2">Learning how to learn is the most important skill to acquire.</p>
          </div>
          <div class="image-wrapper overflow-hidden mt-5 pt-md-5">
            <img src="../../../assets/images/12.jpg" class="w-100 h-100" alt="" srcset="">
          </div>
        </div>
      </div>

    </div>

  </section>

  <section class="ourCustomers py-5 my-3">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 text-center mb-4">
          <h4 class="display-10"> Our Customers Love Us</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4" *ngFor="let customer of customers">
          <div class="customer box">
            <img [src]="customer.image" alt="{{ customer.name }}">
            <h5>{{ customer.name }}</h5>
            <p>{{ customer.testimonial }}</p>
            <div class="starsHolder">
              <div class="stars">
                <span *ngFor="let star of [].constructor(customer.rating)">⭐️</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <section class="ourCustomers py-5 my-3">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 text-center mb-4">
          <h4 class="display-10"> Our Team</h4>
        </div>
      </div>
      <div class="row mt-5">
        <ng-container *ngFor="let post of team">
          <div class="col-12 col-md-6 col-lg-3 mb-4 d-flex align-items-stretch">
            <div class="box hover mt-3 p-0 w-100 text-center">
              <div class="wrapper" [ngStyle]="{
                  height: '220px',
                  width: '100%',
                  position: 'relative',
                  overflow: 'hidden',
                  borderTopRightRadius: '24px',
                  borderTopLeftRadius: '24px'
                }">
                <img [src]="post.image" [attr.data-blur]="post.image"
                  style="object-fit: cover; width: 100%; height: 100%;" alt="Article Image" />
              </div>

              <div class="content justify-content-center text-center"
                style="padding: 30px; display: grid; grid-gap: 16px;">
                <div class="wrapper" style="display: grid; grid-gap: 2px;">
                  <p class="body-bold mb-0">{{ post.title }}</p>
                </div>
                <div class="textPill mx-auto">
                  {{post.category}}
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>

    </div>
  </section>
  <section class="vidSection py-5 my-3">
    <div class="container-fluid">
      <div class="image-container position-relative">
        <img src="../../../assets/images/11.jpg" alt="Background Image" class="w-100 h-100 rounded">
        <div class="overlay d-flex flex-column align-items-center justify-content-center">
          <div class="text">A place where you can feel like home.</div>
          <button class="button" (click)="openModal()" data-toggle="modal" data-target="#videoModal">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M18.1579 8.60503C20.614 10.1139 20.614 13.8861 18.1579 15.395L11.5263 19.4689C9.07017 20.9778 6 19.0917 6 16.074L6 7.92602C6 4.90827 9.07018 3.02218 11.5263 4.53105L18.1579 8.60503Z"
                fill="#FCFCFD" stroke="#FCFCFD" stroke-width="1.5"></path>
            </svg>
          </button>
        </div>
      </div>
      <div class="d-flex align-items-center gap-3 mt-3">
        <div class="font-weight-bold mr-3 videoTourText">Royal Orchid Thai Cuisine Video Tour</div>
        <div class="d-flex align-items-center">
          <div class="time">9:57 Min</div>
        </div>
      </div>

      <!-- Modal content template -->
      <ng-template #videoModal let-modal>
        <div class="modal-body p-0" style="border-radius: 24px;">
          <iframe *ngIf="videoUrl" style="border-radius: 24px;" [src]="videoUrl" width="100%" height="315"
            frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
          </iframe>
        </div>
      </ng-template>
    </div>
  </section>
  <div class="mb-5">
    <app-cta>
    </app-cta>
  </div>
</app-layout>
