
.display-4 {
  color: #23262F;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
}
@media screen and (min-width: 40em) {
  .display-4 {
      color: #23262F;
      font-size: 48px;
      font-weight: 600;
      line-height: 56px;
  }
}
