<section class="aboutSecondSec py-5">
  <div class="container-fluid">
    <div class="row">
      <div class="holder mx-auto">
        <div class="text mb-3">
          <p class="">
            You are on a voyage in which you will craft your own future. It is the time of youth and adventure--of
            exploring the world with an open mind and spirit. In fact, whenever you must learn a new skill or alter
            your career path later in life, you reconnect with that youthful adventurous part of yourself.
          </p>
        </div>
        <div class="d-flex align-items-center flex-column ceoBox mt-4">
          <div class="image-wrapper mr-3" style="height: 44px; width: 44px; overflow: hidden;">
            <img src="../../../assets/images/12.jpg" class="img-fluid" alt="Profile"
              style="height: 100%; object-fit: cover;" />
          </div>
          <div>
            <h4 class="font-weight-bold mb-0 mt-2">Prasit Sittiragsenapa</h4>
            <p class="text-muted mb-0">CEO</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
