<div class="infoHolder">
  <div class="container-fluid">
    <div class="row mx-0 flex-row-reverse">
      <div class="col-md-4 col-12 px-0">
        <img src="../../../assets/images/info02.jpg" class="w-100" alt="">
      </div>
      <div class="col-md-8 col-12 px-0 my-auto">
        <div class="textHolder">
          <div class="display-2">
            Quality Food & Service
          </div>
          <div class="lead">
            Retain the craftsman spirit. Keep in mind: the work is the only thing that matters.
          </div>
          <app-button variant="primary">Learn More</app-button>
        </div>
      </div>

    </div>
  </div>
</div>
